{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        @font-face {
            font-family: 'Urbanist';
            src: url('static/Urbanist-Regular.woff2') format('woff2');
            font-weight: 400;
        }
        @font-face {
            font-family: 'Urbanist';
            src: url('static/Urbanist-Bold.woff2') format('woff2');
            font-weight: 700;
        }
        * {
            box-sizing: border-box;
        }
        body {
            font-family: 'Urbanist', sans-serif;
            color: #eee;
            background-color: #111;
            margin: 0;
        }
        header {
            padding: 2px;
            text-align: center;
            background-color: #222;
            border-bottom: solid 1px #b63eff;
        }
        main {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 16px;
        }
        footer {
            width: 100%;
            max-width: 1440px;
            margin: 64px auto 32px;
            padding: 0 16px;
            color: #aaa;
            text-align: center;
            font-size: 0.9em;
            border-top: solid 1px #444;
        }
        .spacer {
            flex: 1;
        }
        h1 {
            color: #c971ff;
        }
        a {
            color: #c971ff;
        }
        img {
            max-width: 100%;
        }
        .list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            gap: 12px;
            margin-bottom: 64px;
        }
        .instance {
            display: flex;
            flex-direction: column;
        }
        .instance .header {
            display: flex;
            position: relative;
            overflow: hidden;
            min-height: 64px;
            margin-bottom: 8px;
        }
        .instance .header a {
            display: flex;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
        .instance .header a img {
            transform: scale(1);
            transition: all 0.2s ease-out;
        }
        .list--online .instance .header a:hover img {
            transform: scale(1.1);
        }
        .instance .header a .overlay {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: scale(1);
            transition: all 0.2s ease-out;
        }
        .list--online .instance .header a:hover .overlay {
            opacity: 0;
            transform: scale(1.2);
        }
        .instance .header a .overlay p {
            margin: 0;
            padding: 8px;
        }
        .instance .header a .overlay p.title {
            color: #fff;
            font-weight: 700;
            background: rgba(0,0,0,0.6);
        }
        .instance .header a .overlay .top {
            display: flex;
            padding: 8px;
        }
        .instance .header a .overlay .top p {
            padding: 4px 4px 3px;
            color: #fff;
            font-size: 0.7em;
            font-weight: 700;
            border-radius: 4px;
        }
        .instance .header a .overlay .top p.live {
            background: #f20050;
            text-transform: uppercase;
        }
        .instance .header a .overlay .top p.duration {
            background: rgba(0,0,0,0.6);
        }
        .instance .profile {
            display: flex;
            align-items: center;
        }
        .instance .profile img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border-radius: 100%;
        }
        .instance .profile p {
            margin: 0;
            font-size: 1.1em;
            font-weight: bold;
        }
        .instance .profile p a {
            text-decoration: none;
        }
        .list--offline .instance .header a .overlay {
            color: #fff;
            background: rgba(0,0,0,0.6);
            background: linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0.6));
            opacity: 1;
            transition: all 0.2s ease-out;
        }
        .list--offline .instance .header a:hover .overlay {
            opacity: 0.75;
        }
        .list--offline .instance .header a .overlay p {
            background: transparent;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <h2>Streaming now</h2>
        <div class="list list--online">
        {% for instance in instances | sort(attribute="server_config.name") %}
            {% if instance.server_status.online %}
                {{ macros::instance(data=instance) }}
            {% endif %}
        {% endfor %}
        </div>
        
        <h2>More Owncast instances</h2>
        <div class="list list--offline">
        {% for instance in instances | sort(attribute="server_config.name") %}
            {% if instance.server_status.online == false %}
                {{ macros::instance(data=instance) }}
            {% endif %}
        {% endfor %}
        </div>
        <footer>
            <p>
                Made with &lt;3 by <a href="https://yarmo.eu">Yarmo Mackenbach</a>.
                <br>
                <a href="https://codeberg.org/yarmo/ownroll">Source code</a>. Licensed under <a href="https://codeberg.org/yarmo/ownroll/src/branch/main/LICENSE">MIT</a>.
            </p>
        </footer>
    </main>
</body>
</html>