{% macro instance(data) %}
    <div class="instance">
        
        {% if data.server_status.online == true %}
            <div class="header">
                <a href="{{data.url}}">
                    <img src="static/{{data.hash}}_thumbnail.png" alt="Stream thumbnail">
                    <div class="overlay">
                        <div class="top">
                            <p class="live">Live</p>
                            <div class="spacer"></div>
                            <p class="duration">{{data.duration}}</p>
                        </div>
                        <div class="spacer"></div>
                        <p class="title">{{data.server_status.streamTitle}}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="header">
                <a href="{{data.url}}" style="background-image: url('static/{{data.hash}}_logo.png');">
                    <div class="overlay">
                        <div class="spacer"></div>
                        <p>Offline</p>
                        <div class="spacer"></div>
                    </div>
                </a>
            </div>
        {% endif %}

        <div class="profile">
            <img src="static/{{data.hash}}_logo.png" alt="Owncast instance logo">
            <p>
                <a href="{{data.url}}">{{data.server_config.name}}</a>
            </p>
        </div>
    </div>
{% endmacro instance %}